<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>
  <body>
    <h1>Middleman ES6 Demo</h1>
    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'app' %>
  </body>
</html>